.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 10px 30px;
}

.main-header > nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.nav-link, .nav-link-mobile {
  font-size: 16px;
  display: inline-block;
  color: white;
}

.nav-link + .nav-link {
  margin-left: 15px;
}

.nav-mobile {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 24px;
  height: 24px;
  fill: white;
  cursor: pointer;
}

.nav-mobile path {
  transition: all 0.25s ease-out;
}

.nav-mobile-active .nav-icon-top {
  transform: rotate(45deg) translateY(45%);
  transform-origin: center;
}

.nav-mobile-active .nav-icon-middle {
  transform: translateX(-2rem);
}

.nav-mobile-active .nav-icon-bottom {
  transform: rotate(-45deg) translateY(-45%);
  transform-origin: center;
}

:not(.nav-mobile-active) + .nav-list-mobile {
  display: none;
}

:is(.nav-mobile-active) + .nav-list-mobile {
  position: absolute;
  top: 56px;
  background: var(--text-primary);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-link-mobile {
  padding: 15px;
  border-bottom: 1px solid var(--text-secondary);
}

@media (min-width: 600px) {
  .nav-mobile {
    display: none;
  }

  .nav-list {
    display: block;
  }
}
