.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bg-primary);
  border-bottom: 1px solid var(--border);
  padding: 10px;
}

.main-header > nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.nav-link, .nav-link-mobile {
  font-size: 0.9rem;
  display: inline-block;
  color: white;
}

.nav-link + .nav-link {
  margin-left: 15px;
}

.nav-mobile {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 24px;
  height: 24px;
  fill: white;
  cursor: pointer;
}

.nav-mobile path {
  transition: all 0.25s ease-out;
}

.nav-mobile-active .nav-icon-top {
  transform: rotate(45deg) translateY(45%);
  transform-origin: center;
}

.nav-mobile-active .nav-icon-middle {
  transform: translateX(-2rem);
}

.nav-mobile-active .nav-icon-bottom {
  transform: rotate(-45deg) translateY(-45%);
  transform-origin: center;
}

.nav-list-mobile {
  position: absolute;
  top: 60px;
  overflow: hidden;
  background: var(--bg-secondary);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:not(.nav-mobile-active) + .nav-list-mobile {
  height: 0;
  opacity: 0;
  transition: height 300ms ease-in-out, opacity 150ms ease-in;
}

:is(.nav-mobile-active) + .nav-list-mobile {
  opacity: 1;
  height: 100vh;
  transition: height 300ms ease-in-out, opacity 250ms ease-in;
}

.nav-link-mobile {
  padding: 15px;
  border-bottom: 1px solid var(--border);
}

@media (min-width: 600px) {
  .main-header {
    padding: 10px 30px;
  }

  .nav-mobile {
    display: none;
  }

  .nav-list {
    display: block;
  }
}
