.main-wrapper {
  display: flex;
  padding: 15px 30px;
  gap: 15px 30px;
}

.article-container {
  width: 100%;
  max-width: 1080px;
  background: white;
  margin: 0 auto;
  border: 1px solid #CCC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.article-content {
  padding: 10px 30px;
}

.article-content img {
  max-width: 100%;
}

.article-cover {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.author-container > img {
  max-width: 38px;
  border-radius: 50%;
}

.article-title {
  font-size: 32px;
  font-weight: 800;
}

.article-title > small {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  color: #666;
  font-weight: 500;
}
