.post-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

.post-content img {
  max-width: 100%;
}

.post-cover {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.post-cover .top {
  object-position: top;
}

.post-cover .center {
  object-position: center;
}

.post-cover .bottom {
  object-position: bottom;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.author-container > img {
  max-width: 38px;
  border-radius: 50%;
}

.post-title {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 800;
}

.post-title > small {
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
  color: var(--text-secondary);
  font-weight: 400;
}

@media (min-width: 600px) {
  .post-container {
    padding: 10px 30px;
  }
}
