---
layout: "layouts/base"
css: "css/home.css"
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<main class="main-wrapper">
  <section class="home-container">
    {% for post in posts %}
      <a class="post-title" href="{{ domain }}{{ post.url }}">{{ post.data.title }}</a>
    {% endfor %}
  </section>
</main>
